* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans Condensed", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 1000px;

  img {
    width: 100%;
    height: 100%;
  }

  .yellow {
    color: yellow;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 0.6s;

    .toggle {
      display: none;
    }

    .logo {
      text-decoration: none;
      font-size: 2em;
      transition: 0.6s;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #fff;
      font-weight: 700;
      position: relative;
    }

    ul {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        position: relative;
        list-style: none;

        a {
          position: relative;
          text-decoration: none;
          color: #fff;
          letter-spacing: 2px;
          font-weight: 300;
          transition: 0.6s;
          margin: 0 15px;
        }
      }
    }
  }

  /* retry */
  .sticky {

    background: #fff;
    padding: 5px 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .logo {
      color: black;
    }

    ul {
      li {
        a {
          color: black;
        }
      }
    }
  }

  /* retry */
  .banner {
    background: url(img/profile3.jpg);
    width: 100%;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      color: #fff;
      font-size: 90px;
      text-transform: uppercase;
    }
  }

  .section {
    background: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      position: relative;
      text-align: center;
      width: 100%;

      .mxw800p {
        max-width: 800px;
        margin: 0 auto;

        h3 {
          font-size: 40px;
          font-weight: 200;
          margin-bottom: 10px;
        }

        p {
          position: relative;
          font-size: 18px;
          font-weight: 300;
          margin-bottom: 20px;
          letter-spacing: 1px;
        }

        .btn {
          position: relative;
          padding: 10px 30px;
          background: #000;
          text-decoration: none;
          color: white;
          top: 20px;
          border-radius: 10px;

          &:hover,
          &:focus {
            background-color: yellow;
            color: #000;
            transition: 0.5s;
          }
        }
      }
    }
  }

  .service-product {
    position: relative;
    margin-top: 40px;
    max-width: 100%;
    /* retry  */
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    /* retry  */
    img {
      width: 300px;
      height: 300px;
    }

    .box {
      width: 300px;
      margin: 0 auto;
      background: #fff;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
      padding-bottom: 10px;
      animation: fadeUp 0.6s forwards;

      .productBox {
        align-content: center;

        img {
          max-width: 300px;
          margin-bottom: 15px;
        }
      }

      h2 {
        margin-bottom: 10px;
        font-size: 25px;
        text-transform: 700;
      }
    }
  }

  .achievement {
    background: #ebe9df;
    margin-top: -200px;
    padding-top: 250px;

    .achieveBox {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-gap: 20px;
      text-align: center;
      position: relative;
      margin-top: 50px;

      h2 {
        font-size: 36px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: grey;

        &:hover {
          color: black;
        }
      }

      h4 {
        font-size: 18px;
        text-transform: uppercase;
      }
    }
  }

  .work {
    .mxw800p {
      h3 {
        margin-top: 30px;
      }
    }

    .workBox {
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 20px;
      max-width: 100%;
      margin-top: 40px;
    }

    .brand {
      position: relative;
      background: #fafaa0;
      min-height: 300px;
      width: 200px;
      margin: 0 auto;
      display: flex;

      justify-content: center;
      align-items: center;

      &:hover {
        background: white;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
      }

      a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 2px;

        &:hover {
          color: #fcff42;
          background-color: black;
          box-shadow: 0 15px 30px #0000004d;
          padding: 5px;
        }
      }
    }
  }

  .team {
    .mxw800p {
      h3 {
        margin-top: 30px;
      }
    }

    .teamBox {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 20px;
      max-width: 100%;
      margin-top: 30px;
      position: relative;
    }

    .member {
      background: gray;
      min-height: 200px;
      width: 200px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .imgBox {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
    }
  }

  .detail {
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    h2 {
      color: #fff;
      transform: uppercase;
      font-size: 20px;
      letter-spacing: 1px;
    }

    span {
      display: block;
      font-size: 12px;
      font-weight: 300;
    }
  }

  .teamBox {
    .member {
      &:hover {
        .detail {
          opacity: 1;
        }
      }
    }
  }

  .contact {
    background: #54545e;

    h3,
    p {
      color: #fff;
    }

    .contactForm {
      max-width: 800px;
      margin: 0 auto;
      display: flex;
      position: relative;

      form {
        width: 100%;

        .row100 {
          display: flex;
          width: 100%;

          .inputBox50 {
            margin: 0 20px;
            width: 50%;
          }

          .inputBox100 {
            width: 100%;
            margin: 0 20px;
          }

          input,
          textarea {
            border: none;
            border-bottom: 1px solid white;
            color: #fff;
            background: transparent;
            padding: 10px 0;
            width: 100%;
            outline: none;
            font-size: 18px;
            font-weight: 300;
            margin: 20px 0;
            resize: none;
          }
        }

        textarea {
          height: 100px;
        }

        input {
          &[type="submit"] {
            background: #ffffff;
            text-transform: uppercase;
            max-width: 100px;
            color: #000;
            letter-spacing: 2px;
            cursor: pointer;
            font-weight: 500;
            border-bottom: none;
          }
        }
      }
    }
  }

  .social {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;

    ul {
      display: flex;

      li {
        list-style: none;

        i {
          text-decoration: none;
          cursor: pointer;
          display: inline-block;
          max-width: 40px;
          font-size: 30px;
          margin: 0 30px;

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .copyright {
    letter-spacing: 2px;
    text-decoration: none;

    a {
      color: white;
      letter-spacing: 2px;
      text-decoration: none;
      font-size: 20px;
    }
  }

  @media (max-width: 992px) {

    header,
    &.sticky {
      background: white;
      padding: 5px 50px;

      .toggle {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;

        &:before {
          content: "";
          position: absolute;
          top: 4px;
          width: 100%;
          height: 2px;
          background: #000;

          box-shadow: 0 10px 0 #000;
          z-index: 1;
          transition: 0.5s;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 4px;
          width: 100%;
          height: 2px;
          background: #000;
          z-index: 1;

          transition: 0.5s;
        }
      }

      ul {
        position: absolute;
        top: 60px;
        left: 0px;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: auto;
        background: #fff;
        visibility: hidden;
        opacity: 0;
      }

      &.active {
        ul {
          visibility: visible;
          opacity: 1;
          display: block;
          padding-top: 20px;

          li {
            a {
              display: inline-block;
              margin: 30px 0;
              font-size: 25px;
            }
          }
        }
      }
    }

    .banner {
      background-position: center;

      h2 {
        font-size: 60px;
        padding: 0 50px;
      }
    }

    .section {
      padding: 100px 50px 50px 50px;
    }

    .achievement {
      padding-top: 200px;
    }

    .contact {
      .content {
        .contactForm {
          .row100 {
            flex-direction: column;

            .inputBox50,
            .inputBox100 {
              margin: 0;
              width: 100%;
            }
          }
        }
      }
    }

    .social {
      margin: 20px;
    }
  }
}